.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 40px;
    transition: padding 0.3s ease;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
  }

  &__logo {
    img {
      width: 220px;
      height: auto;
      transition: width 0.3s ease;
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 70px;
    gap: clamp(10px, 3vw, 70px);

    transition: gap 0.3s ease;
  }

  &__nav-item {
    // font-size: 20px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    transition: font-size 0.3s ease;
  }

  &__nav-cta {
    display: inline-block;
    background-color: #d79f3d;
    color: #fff;
    padding: 10px 24px;
    border-radius: 50px;
    transition:
      opacity 0.2s ease,
      padding 0.3s ease,
      font-size 0.3s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  &.is-scroll {
    .header__inner {
      padding: 15px 40px;
    }

    .header__logo {
      img {
        width: 180px;
      }
    }

    .header__nav-list {
      gap: 40px;
    }

    .header__nav-item {
      font-size: 18px;
    }

    .header__nav-cta {
      padding: 8px 20px;
      font-size: 18px;
    }
  }
}
